/* src/pages/CrudPage.css */
.crud-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea los elementos al inicio del contenedor */
    justify-content: center;
    text-align: left; /* Cambia el alineamiento del texto a la izquierda */
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    margin-left: 750px; /* Ajusta el margen izquierdo según el espacio que desees */
  }
  
  .crud-container h1 {
    margin-bottom: 30px;
    font-size: 2rem;
    margin-left: 100px;
    color: #333; /* Ajusta el color según tu preferencia */
  }
  
  .crud-table, .crud-form {
    width: 100%;
    max-width: 800px; /* Ajusta según el tamaño que desees */
    margin-bottom: 20px;
  }
  
  